priority 100

snippet readme "readme" b
${1:description}

# Configuration
$0

See also: package.json

# Usage
Run `npm run` to see possible commands.
endsnippet

snippet code "code" b
\`\`\`${1:language}
${VISUAL}$0
\`\`\`
endsnippet

snippet toc "toc" b
# Table of Contents
endsnippet

snippet l "link" w
[${VISUAL}$1](${VISUAL}$1$0)
endsnippet

snippet table "table" b
| $1 | $0
| ---|
endsnippet

snippet todo "toodo" b
TODO
endsnippet
