snippet init "init" b
# defaults
http://localhost:8080
--
--

--
GET /$0
endsnippet

snippet post "post" b
--
POST /
{
  $0
}

endsnippet

snippet apikey "apikey" b
X-API-KEY: ${VISUAL}$0
endsnippet

snippet get "get" b
--
GET /
endsnippet
