priority 2

extends javascript

snippet unhandledRejection-catch "promisethrow" b
process.on(\`unhandledRejection\`, (e: any) => {
  console.error(\`Error: Caught unhandledRejection: '${e.message}'\`)
  throw e
})
endsnippet

